src/main/mule/firstmule-4-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="firstmule-4-projectFlow" doc:id="6d7ea07b-572f-42c7-9a22-386d84e4ca4f" >
		<scheduler doc:name="Scheduler" doc:id="724b1692-bdba-4fa6-b7b3-ef8b8dcf77ef" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="HOURS"/>
			</scheduling-strategy>
		</scheduler>
		<set-payload value='#["Welcome to Mule-4"]' doc:name="Set Payload" doc:id="ad49bbe8-5938-4423-9078-8ce68098f959" />
		<logger level="INFO" doc:name="Logger" doc:id="98a013e1-0531-4bee-9b29-d9dae93f680e" message="inside mule 4"/>
	</flow>
</mule>
